/* Styles for the main grid container */
#divMain {
    display: grid;
    height: 95vh;
    margin: 0px;
    grid-template-columns: 20% 1fr 10%;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "header header header" /* Header area */
        "nav content ads" /* Navigation, content, and aside areas */
        "nav footer footer"; /* Footer area */
    row-gap: 6px;
    column-gap: 6px;
}

/* Styles for the header area */
header {
    grid-area: header;
    padding: 2em;
    background-color: #E1DC2E; /* Background color for the header */
    text-align:center;
}

/* Styles for the content area */
article {
    grid-area: content;
}

/* Styles for the navigation area */
nav {
    grid-area: nav;
    padding: 2em;
    background-color: #E1DC2E; /* Background color for the navigation */
}

/* Styles for the aside/ads area */
aside {
    grid-area: ads;
    padding: 2em;
    background-color: #E1DC2E; /* Background color for the aside/ads */
}

/* Styles for the footer area */
footer {
    grid-area: footer;
    padding: 2em;
    background-color: #E1DC2E; /* Background color for the footer */
}

iframe {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
