{{!-- /Users/sureshrajaselvadurai/IdeaProjects/MS_Coursework/CS386/Final/views/partials/footer.hbs --}}


                <footer>
                    <div class="sidebar-useful-links">
                        <a>About</a>
                        <a href="https://github.com/sureshselvadurai">Github</a>
                        <a href="https://www.linkedin.com/in/sureshrajaselvadurai/">LinkedIn</a>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
