body {
    font-family:sans-serif;
    line-height:1.5;
}
div {
    border: 2px black solid !important;
    color: magenta;
}

#first{
    color:red;
}
p {
    color:blue;
}
p{
    color:grey
}
h1{
    color:inherit
}

p {
    border: 3px green solid;
    border-left-color:blue;
}